
<!DOCTYPE html>
<html>
<head>
    <title>Registration Success</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>

  <div class="header">

    <ul style="size: 25cm;">
      
  <li style="size: 4cm; padding: 10px;">
    
<form method="post" action="/create1">   

  <h1><input type="submit" name="submit" value="Upload File" style="background-color: #333333;  color: white; size: 25mm;"></h1> 

</form>


</li>

    <li style="size: 4cm; padding: 10px;">
    
<form method="post" action="/CreateSet">   

  <h1><input type="submit" name="CreateSet" value="CreateSet" style="background-color: #333333;  color: white; size: 25mm;"></h1> 

</form>
  

    <li style="size: 4cm; padding: 10px;">
    
<form method="post" action="/logout">   

  <h1><input type="submit" name="submit" value="Log Out" style="background-color: #333333;  color: white; size: 25mm;"></h1> 

</form>


</li>

</ul>
  </div>


</body>
</html>
